.pulse {
  box-shadow: 0 0 0 rgba(217, 216, 212, 0.4);
  animation: pulse 2s infinite;
  border-color: rgb(15, 12, 1);
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(15, 12, 1, 0.7);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(15, 12, 1, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(15, 12, 1, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(15, 12, 12, 0.7);
    box-shadow: 0 0 0 0 rgba(15, 12, 1, 0.7);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(15, 12, 1, 0);
      box-shadow: 0 0 0 10px rgba(15, 12, 1, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(15, 12, 12, 0);
      box-shadow: 0 0 0 0 rgba(15, 12, 1, 0);
  }
}