.pulse {
  animation: pulse 2s infinite;
  border-color: rgb(15 12 1);
  box-shadow: 0 0 0 rgb(217 216 212 / 40%);
}

.pulse:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgb(15 12 1 / 70%);
  }

  70% {
    box-shadow: 0 0 0 10px rgb(15 12 1 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(15 12 1 / 0%);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgb(15 12 1 / 70%);
  }

  70% {
    box-shadow: 0 0 0 10px rgb(15 12 1 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(15 12 1 / 0%);
  }
}
