::view-transition-old(category-name) {
  animation: fadeOut 0.5s ease-in forwards;
}

::view-transition-new(category-name) {
  animation: fadeIn 0.5s ease-out forwards;
}

::view-transition-old(sub-category-name) {
  animation: fadeOut 1s ease-in forwards;
}

::view-transition-new(sub-category-name) {
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
