:root{
    --quantity: 4; /*quantity of post items*/
    --position: 1; /*position of the post item*/
    --width: 300px; /*default width of the post item*/
    --speed: 20s /*default speed of the animation*/
}

.autoRun {
    left: -100%;
    animation: autoRun var(--speed) linear infinite;
    animation-delay: calc((var(--speed) / var(--quantity)) * (var(--position)));
}

.sliderAutoRun:hover .autoRun {
    animation-play-state: paused;
}

/* todo to calculate animation using transform */
@keyframes autoRun {
    from{
        left: 100%
    } to {
        left: calc(-1 * var(--width));
   }
}